<!-- <p>login works!</p>
<a routerLink="view"><button (click)="setAuth()" class="btn btn-primary">Log u in</button></a>
<br />
<br />
<a routerLink="signup"><button class="btn btn-primary">signup</button></a> -->

<div class ="container">
    <div class="row">
        <div class="col-md-6">
            <div class="card ">
                <div class="text-center">
                    <h1>Login</h1>
                    <h6>Please Enter email & Password !!</h6>
                </div>
                <form>
                    <form [formGroup]="loginForm" (ngSubmit)="login()">
                        <div class="mb-3">
                          <label for="exampleInputEmail1" class="form-label my-3">Email address</label>
                          <input formControlName="email" type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter Your Email">
                            <span class="text-danger" *ngIf="loginForm.controls['email'].dirty && loginForm.hasError('required','email')">*Email ID is Required!</span>
                          </div>

                        <div class="mb-3">
                          <label for="exampleInputPassword1" class="form-label">Password</label>
                          <input formControlName="password" type="password" class="form-control" id="exampleInputPassword1" placeholder="Enter Your Password">
                          <span class="text-danger" *ngIf="loginForm.controls['password'].dirty && loginForm.hasError('required','password')">*Password is Required!</span>
                        </div>

                        <button type="submit" [disabled]="!loginForm.valid" class="btn btn-primary my-3">Login</button>
                      </form>
                      <a style=" float:right; color:#fff; margin-top:10px" routerLink="/signup"> New User? Click to Signup!!</a>
                </form>
            </div>
        </div>
    </div>
</div> 
 

