@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

* {
    font-family: 'Roboto', sans-serif;
}


.card {
    border: none;
    width: 500px;
    padding: 40px;
    position: absolute;
    top: 50%;
    left:50%;
    transform: translate(-50%, -50%);
    background: hsla(205, 46%, 30%, 1);
    background: linear-gradient(90deg, rgb(129, 180, 216) 0%, rgb(176, 166, 197) 100%);
    /* background: linear-gradient(90deg, hsla(205, 46%, 30%, 1) 0%, hsla(260, 29%, 36%, 1) 100%); */

}

.card label h1,
h6 {
    color: #fff;
}

.h1, h1{
    color:#fff;
}

label{
    color: #fff;
}