<p>mentors-view works!</p>

<!-- {{ mentors | json }} -->

<div *ngFor="let mentor of mentors; let i = index">
  <div class="container">
    <div class="card">
      <div class="card-image">
        <img class="card-img" src="{{ mentor.imgUrl }}" alt="Card image cap" />
      </div>
      <div class="card-text">
        <span class="date">{{ mentor.mentorName }}</span>
        <h4>{{ mentor.yearExperience }} years</h4>
        <p>{{ mentor.monthExperience }} months</p>
        <ul class="skills__Container">
          <li class="skills" *ngFor="let skill of mentor.mentorSkills">
            {{ skill }}
          </li>
        </ul>
        <div class="btn-del">
          <button
            class="btn btn-danger"
            (click)="deleteMentorRecord(mentor._id)"
          >
            Delete
          </button>
          <button
            class="btn btn-primary"
            (click)="updateMentorRecord(mentor._id, mentor)"
          >
            Update
          </button>
        </div>
      </div>

      <div class="card-stats">
        <div class="stat">
          <div class="value">4<sup>m</sup></div>
          <div class="type">read</div>
        </div>
        <div class="stat border">
          <div class="value">5123</div>
          <div class="type">views</div>
        </div>
        <div class="stat">
          <div class="value">32</div>
          <div class="type">comments</div>
        </div>
      </div>
    </div>
  </div>
</div>
